.step-label {
  color: var(--color-secondary);
}

.stepper-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  @media screen and (max-width: 768px) {
    padding: 1rem 0;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
}
