.complete-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 3rem;

  h3 {
    color: var(--color-accent);
  }
}
