.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;

  .start-btn {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    background: var(--color-accent);
    color: #fffcf2;
    font: bold 1.4rem "Muli", sans-serif;
    cursor: pointer;
  
    &:hover,
    &:focus {
      background-color: #d44a14;
    }
  }
}


