header {
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--header-primary);
  z-index: 10;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

  nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    h3{
      font: bold 1.6rem "Muli", sans-serif;
      color: var(--color-accent);
      span {
        color: var(--color-secondary);
      }
    }
  }
}
