.questionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 3rem;

  @media screen and (max-width: 768px) {
    padding: 1rem 0;
  }

  .question {
    width: 100%;
    padding: 1.4rem;
    background: var(--bg-secondary);
    border-radius: 5px;
    color: var(--color-primary);
    font: 1.4rem "Muli", sans-serif;
  }

  .options {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .option {
      width: 100%;
      padding: 1rem;
      border-radius: 5px;
      font: 1.4rem "Muli", sans-serif;
      cursor: pointer;

      &.active {
        background-color: var(--color-accent);
        color: #fffcf2;
      }
    }
  }

  .answer-status {
    color: #2eb82e;
    font-size: 1.4rem;

    &.incorrect {
      color: #ff471a;
    }
  }
}
