button {
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 5px;
  background: var(--bg-primary);
  color: var(--color-primary);
  font: bold 1rem "Muli", sans-serif;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: var(--bg-secondary);
  }
  &:disabled {
    cursor: not-allowed;
  }

  &.button-one {
    background: var(--color-accent);
    color: #fffcf2;
    &:hover{
      background-color: #d44a14;
    }
  }

  &.button-two {
    background: var(--bg-primary);
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    &:hover{
      background-color:  var(--color-accent);
      color: #fffcf2;
    }
  }

  &.button-link {
    background: var(--bg-primary);
    color: var(--color-accent);
    transition: text-decoration 200ms ease-in-out;
    &:hover{
      text-decoration: underline;
    }
  }
}
