body {
  --bg-primary: #fffcf2;
  --bg-secondary: #ccc5b9;
  --color-primary: #252422;
  --color-secondary: #403d39;
  --color-accent: #eb5e28;
  --header-primary: #fffcf2;
}

body.dark {
  --bg-primary: #252422;
  --bg-secondary: #403d39;
  --color-primary: #fffcf2;
  --color-secondary: #ccc5b9;
  --color-accent: #eb5e28;
  --header-primary: #403d39;
}

body {
  background-color: var(--bg-primary);
  color: var(--color-primary);
}
